@import '@/assets/scss/variables.scss';
.footer {
  position: relative;
  margin-top: auto;
}
.footer-block__decorpoint {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 5;
}
.footer-block {
  padding-top: 45px;
  padding-bottom: 23px;

  &__color_gray {
    background-color: #454545;
  }
  &__color_white {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #e9e9e9;
  }
  &__logo {
    position: relative;
    grid-column: 3/6;
    grid-row: 1/1;
  }
  &__menu {
    max-width: 135px;
  }
  &__contact {
    grid-column: 10/13;
    grid-row: 1/1;
  }

  &__lg {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 390px;
  }
  &__copy {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 370px;
  }
  &__text {
    grid-column: 3/5;
    grid-row: 2/2;
    font-style: normal;
    font-weight: normal;
    line-height: 15px;
    @include font-size(15px);
    color: #e9e9e9;
  }
  &__link-email {
    grid-column: 3/6;
    grid-row: 3/3;
    @include font-size(13px);
    color: #e9e9e9;
    line-height: 16px;
  }
  &__link-email_color-team_gray {
    font-style: normal;
    color: #e9e9e9;
  }

  &__menu-heading {
    font-weight: 600;
    line-height: 19px;
    @include font-size(16px);
    color: #e9e9e9;
  }
  &__menu-heading-nav {
    grid-column: 7/9;
    grid-row: 1/1;
  }
  &__menu-heading_blue {
    color: #05ad5c;
  }

  &__menu-item {
    list-style-type: none;
    text-decoration: solid;
    cursor: pointer;
    text-decoration: underline;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 10px;
    line-height: 16px;
  }
  &__menu-link_team_gray {
    color: #e9e9e9;
    &:hover,
    &:focus {
      color: $color-light-gray;
    }
  }
  &__menu-link_team_white {
    color: $color-dark-gray;
    &:hover,
    &:focus {
      color: black;
    }
  }
}

.footer-blockcopy {
  padding-top: 15px;
  padding-bottom: 40px;
  color: #e9e9e9;
  opacity: 0.7;
  &__social {
    margin-top: 15px;
    margin-bottom: 25px;
    max-width: 188px;
  }
}
.footer-blockcopy__text {
  line-height: 14px;
  @include font-size(10px);
  opacity: 0.7;
  &__text_team_gray {
    color: #e9e9e9;
  }
}

@media (min-width: 1008px) and (max-width: 1300px) {
}
@media (min-width: 1008px) and (max-width: 1150px) {
  &__menu-heading-nav {
  }
}
@media (min-width: 736px) and (max-width: 1007px) {
  .footer-block {
    &__logo {
      grid-column: 1/3;
      grid-row: 1/1;
    }
    &__text {
      grid-column: 1/3;
      grid-row: 2/2;
    }

    &__menu-heading-nav {
      grid-column: 4/6;
      grid-row: 1/1;
    }
    &__menu-list {
      grid-column: 4/6;
      grid-row: 2/4;
    }
    &__heading-soc {
      grid-column: 6/8;
      grid-row: 1/1;
    }
  }
}

@media (min-width: 320px) and (max-width: 735px) {
  .footer-block {
    &__logo {
      grid-column: 1/4;
      grid-row: 1/1;
    }
    &__text {
      grid-column: 1/5;
      grid-row: 2/2;
    }

    &__menu-heading-nav {
      grid-column: 1/5;
      grid-row: 4/4;
      margin-bottom: 5px;
    }
    &__menu-list {
      grid-column: 1/5;
      grid-row: 5/5;
      margin-bottom: 20px;
    }
    &__menu-item {
      display: inline-block;
      margin-right: 20px;
    }
    &__heading-soc {
      grid-column: 1/4;
      grid-row: 6/6;
      margin-bottom: 5px;
    }
  }
}
