@import '@/assets/scss/variables.scss';
.logo__img {
}
.logo {
  &__navb {
    margin-top: 1.6em;
    margin-bottom: 1.6em;
    max-width: 19.5313vw;
    height: 4.29em;
  }
  &__footer {
    position: absolute;
    top: -10px;
    max-width: 488px;
    width: 142px;
    height: 60px;
  }
}

.navb-block-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  // align-items: center;
  background-image: url('../assets/img/title-img.png'); //изображение
  background-size: cover; //изображение
  background-repeat: no-repeat; //изображение
  width: 100%; //изображение
  height: 0px; //изображение
  padding-bottom: 56.25%; //изображение
}

.navbblock {
  display: block;
  width: 100%;
}
.navbblock > .logo__navb {
  margin-left: 9.7656vw;
  display: inline;
}

.navbblock > .nav-btn {
  display: none;
}
.navbblock > .nav-links {
  height: 4.9em;
  display: inline;
  float: right;
  margin-right: 1.5625vw;
}

.navbblock > #nav-check {
  display: none;
}

.text-title {
  display: inline-block;
  height: 5em;
  margin-top: 4.5em;
  text-align: center;
  font-style: normal;
  @include font-size(60px);
  color: #e9e9e9;
  font-weight: bold;
  &__color_green {
    color: #05ad5c;
  }
}
.title-link {
  display: block;
  text-align: center;
  box-sizing: border-box;
  margin: 0 auto;
  margin-top: 2.14em;
  // margin-bottom: 25.25%;
  padding: 1.2857em;
  @include font-size(24px);
  line-height: 2em;
  outline: none;
  border-radius: 0 !important;
  font-style: normal;
  font-weight: normal;
  max-width: 285.714em;

  cursor: pointer;
}

//navbar----------------------------------------------------------------------

.navb {
  &__link {
    display: inline-block;
    @include font-size(24px);
    color: #e9e9e9;
    text-decoration: none;
    padding: calc(0.8vw);
    height: 1.2em;
    &:focus,
    &:hover,
    &:active {
      color: #20194b;
      background-color: #05ad5c;
      text-decoration: none;
    }
  }
  &__link.active {
    background-color: #05ad5c;
    color: #20194b;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
}

.social {
  &__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
  }
  &__item {
    list-style-type: none;
    cursor: pointer;
  }
  &__heading {
  }
  &__link {
    cursor: pointer;
  }
}

@media (min-width: 1008px) and (max-width: 1300px) {
}
@media (min-width: 786px) and (max-width: 1007px) {
  .navbblock > .logo__navb {
    margin-left: 1.5625vw;
    display: inline;
  }

  .text-title {
    @include font-size(50px);
    margin-top: 3.3em;
  }
  .title-link {
    @include font-size(20px);
    margin-top: 1.5em;
    padding: 1em;
  }
}

@media (min-width: 320px) and (max-width: 785px) {
  .navbblock > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .navbblock > .nav-btn > label {
    display: inline-block;
    padding: 13px 13px 1px 13px;
  }
  .navbblock > .nav-btn > label:hover,
  .navbblock #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .navbblock > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .navbblock > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #454545;
    height: 0px;
    z-index: 10;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    overflow-x: none;
    top: 50px;
    left: 0px;
  }
  .navbblock > .nav-links > a {
    display: block;
    width: 100%;
  }
  .navbblock > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .navbblock > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
    overflow-x: hidden;
  }
}

@media (min-width: 480px) and (max-width: 785px) {
  .text-title {
    @include font-size(50px);
    margin-top: 0.8em;
  }
  .title-link {
    @include font-size(20px);
    margin-top: 1em;
    padding: 0.1em 0.5em;
  }
}
@media (min-width: 320px) and (max-width: 479px) {
  .text-title {
    @include font-size(45px);
    margin-top: 0em;
  }
  .title-link {
    @include font-size(16px);
    margin-top: 0em;
    padding: 0.1em 0.4em;
  }
}
/*
/** 
 * iPad with portrait orientation.
 */
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
  .foo {
    height: 1024px;
  }
}

/** 
 * iPad with landscape orientation.
 */
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
  .foo {
    height: 768px;
  }
}

/**
 * iPhone 5
 * You can also target devices with aspect ratio.
 */
@media screen and (device-aspect-ratio: 40/71) {
  .foo {
    height: 500px;
  }
}
