@import '@/assets/scss/variables.scss';

.home-page-stream {
  background-color: #454545;
  &__current-video {
    grid-column: 6/12;
    grid-row: 2/2;
    // width: auto;
    // height: 640px;
  }
  &__heading {
    grid-column: 2/6;
    grid-row: 1/1;
    position: relative;
    line-height: 47px;
    color: #e9e9e9;
    margin-bottom: 35px;
    margin-top: 35px;
  }
  &__status-stream {
    display: inline-block;
    position: absolute;
    margin-left: 22px;
    top: 9px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #ec5567;
  }
  &__card {
    grid-column: 2/6;
    grid-row: 2/2;
    margin-bottom: 60px;
  }
}
.card-training {
  display: flex;
  flex-direction: column;
  color: #000000;
  font-weight: normal;
  background-color: #e9e9e9;
  max-width: 280px;
  padding: 21px 45px 35px 45px;
  &__btnblock {
    display: flex;
    flex-direction: column;
  }
  &__name {
    line-height: 41px;
    @include font-size(35px);
    font-size: 35px;
    line-height: 41px;
    margin-bottom: 25px;
  }
  &__trainerblock {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 30px;
  }
  &__trainerimg {
    background-blend-mode: normal;
    border-radius: 50%;
    margin-right: 15px;
  }
  &__btn {
    margin-bottom: 30px;
  }
  &__text {
    font-weight: 300;
    @include font-size(26px);
    line-height: 31px;
    max-width: 205px;
  }
  &__trainer-name {
    display: block;
    @include font-size(18px);
    line-height: 21px;
  }
}

/////// reviews//////

.main_reviews h3 {
  // font-style: normal;
  // font-weight: normal;
  // font-size: 24px;
  // line-height: 29px;
  // letter-spacing: 0.05em;
}
.carucel__video {
  margin-right: 30px;
}
///////slid

.card-img-top {
  width: 95px;
  height: 95px;
}

.main__review {
  // font-style: normal;
  // font-weight: normal;
  // font-size: 14px;
  // line-height: 150%;
  // text-align: center;
  // letter-spacing: 0.05em;
  color: white;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 326px;
  height: 182px;
}
////tests
.slick-current > div > div {
  background-color: #dee4e7 !important;
  color: #333333 !important;
}
.slick-current > div > div > div > p {
  color: #333333 !important;
}

///// button reviews
.slick-track {
  display: flex;
  justify-content: center;
}
.slick-list {
  overflow: hidden;
}

.slick-arrow {
  position: absolute;
  top: 45%;
  z-index: 10;
  font-size: 0;
  width: 27px;
  height: 27px;
  padding: 0 !important;
  border: none !important;
  color: inherit !important;
  background-color: transparent !important;
  cursor: pointer !important;
}

/* Стрелка влево */
.slick-arrow.slick-prev {
  background: url('assets/img/left arrow.svg') 0 0 no-repeat;
  left: 34%;
}
/* Стрелка вправо */
.slick-arrow.slick-next {
  right: 33%;
  background: url('assets/img/right arrow.svg') 0 0 no-repeat;
}

/* Точки (булиты) */
.slick-dots {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}
.slick-dots li {
  list-style: none;
  margin: 0 15px;
}
/* Активная точка */
.slick-dots li.slick-active button {
  background: #cbff35 !important;
}

/* Элемент точки */
.slick-dots li button {
  margin-top: 50px;
  padding: 0 !important;
  border: none !important;
  background-color: transparent !important;
  font-size: 0;
  width: 10px !important;
  height: 10px !important;
  border-radius: 50% !important;
  background-color: white !important;
}

.main_reviews {
  position: relative;
}

@media (min-width: 1008px) and (max-width: 1300px) {
}
@media (min-width: 736px) and (max-width: 1007px) {
  .home-page-stream {
    &__current-video {
      grid-column: 5/9;
      grid-row: 2/2;
    }
    &__heading {
      grid-column: 1/9;
      grid-row: 1/1;
    }
    &__card {
      grid-column: 1/5;
      grid-row: 2/2;
      margin-bottom: 30px;
    }
  }
  .card-training {
    padding: 10px 20px 15px 20px;
    &__trainerblock {
      //   margin-bottom: 15px;
    }
    &__btn {
      margin-bottom: 15px;
    }
    &__name {
      margin-bottom: 15px;
    }
  }
}
@media (min-width: 465px) and (max-width: 735px) {
  .home-page-stream {
    &__current-video {
      grid-column: 1/5;
      grid-row: 2/2;
    }
    &__heading {
      grid-column: 1/5;
      grid-row: 1/1;
    }
    &__card {
      grid-column: 1/5;
      grid-row: 3/3;
      margin-bottom: 30px;
    }
  }
  .card-training {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 100%;
    padding: 20px 20px 20px 20px;
    &__trainerblock {
      //   margin-bottom: 15px;
    }
    &__btn {
      margin-bottom: 15px;
    }
    &__name {
      margin-bottom: 15px;
    }
  }
}
@media (min-width: 320px) and (max-width: 464px) {
  .home-page-stream {
    &__current-video {
      grid-column: 1/5;
      grid-row: 2/2;
    }
    &__heading {
      grid-column: 1/5;
      grid-row: 1/1;
    }
    &__card {
      grid-column: 1/5;
      grid-row: 3/3;
      margin-bottom: 30px;
    }
  }
  .card-training {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 100%;
    padding: 20px 20px 20px 20px;
    &__trainerblock {
    }
    &__btn {
      margin-bottom: 15px;
    }
    &__name {
      margin-bottom: 15px;
    }
  }
}
