@import '@/assets/scss/variables.scss';
.home-page-stream {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #454545;
  &__container {
    display: flex;
    flex-direction: column;
    // // justify-content: center;
    // // align-items: center;
    max-width: 1030px;
    margin-top: 35px;
    margin-bottom: 60px;
  }
  &__block {
    display: flex;
    flex-direction: row;
  }
  &__current-video {
    margin-left: 50px;
    width: 610px;
  }
  &__heading {
    position: relative;
    line-height: 47px;
    color: #e9e9e9;
    margin-bottom: 35px;
  }
  &__status-stream {
    display: inline-block;
    position: absolute;
    margin-left: 22px;
    top: 9px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #ec5567;
  }
  &__card {
  }
}
.card-training {
  display: flex;
  flex-direction: column;
  color: #000000;
  font-weight: normal;
  background-color: #e9e9e9;
  width: 280px;
  padding: 21px 45px 35px 45px;
  &__btnblock {
    display: flex;
    flex-direction: column;
  }
  &__name {
    line-height: 41px;
    @include font-size(35px);
    font-size: 35px;
    line-height: 41px;
    margin-bottom: 25px;
  }
  &__trainerblock {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 30px;
  }
  &__trainerimg {
    background-blend-mode: normal;
    border-radius: 50%;
    margin-right: 15px;
  }
  &__btn {
    margin-bottom: 30px;
  }
  &__text {
    font-weight: 300;
    @include font-size(26px);
    line-height: 31px;
    max-width: 205px;
  }
  &__trainer-name {
    display: block;
    @include font-size(18px);
    line-height: 21px;
  }
}

/////// reviews//////

.carucel__video {
  margin-right: 30px;
}
///////slid

.card-img-top {
  width: 95px;
  height: 95px;
}

.main__review {
  color: white;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 326px;
  height: 182px;
}
////tests
.slick-current > div > div {
  background-color: #dee4e7 !important;
  color: #333333 !important;
}
.slick-current > div > div > div > p {
  color: #333333 !important;
}

///// button reviews
.slick-track {
  display: flex;
  justify-content: center;
}
.slick-list {
  overflow: hidden;
}

.slick-arrow {
  position: absolute;
  top: 45%;
  z-index: 10;
  font-size: 0;
  width: 27px;
  height: 27px;
  padding: 0 !important;
  border: none !important;
  color: inherit !important;
  background-color: transparent !important;
  cursor: pointer !important;
}

/* Стрелка влево */
.slick-arrow.slick-prev {
  background: url('assets/img/left arrow.svg') 0 0 no-repeat;
  left: 34%;
}
/* Стрелка вправо */
.slick-arrow.slick-next {
  right: 33%;
  background: url('assets/img/right arrow.svg') 0 0 no-repeat;
}

/* Точки (булиты) */
.slick-dots {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}
.slick-dots li {
  list-style: none;
  margin: 0 15px;
}
/* Активная точка */
.slick-dots li.slick-active button {
  background: #cbff35 !important;
}

/* Элемент точки */
.slick-dots li button {
  margin-top: 50px;
  padding: 0 !important;
  border: none !important;
  background-color: transparent !important;
  font-size: 0;
  width: 10px !important;
  height: 10px !important;
  border-radius: 50% !important;
  background-color: white !important;
}

.main_reviews {
  position: relative;
}

@media (min-width: 1008px) and (max-width: 1300px) {
  .home-page-stream {
    &__current-video {
      width: 480px;
      height: 320px;
      margin-left: 20px;
    }
  }
}
@media (min-width: 736px) and (max-width: 1007px) {
  .home-page-stream {
    &__block {
    }
    &__current-video {
      width: 320px;
      height: 240px;
      margin-left: 20px;
    }
    &__heading {
    }
    &__card {
    }
  }
  .card-training {
    padding: 10px 20px 15px 20px;
    &__trainerblock {
      //   margin-bottom: 15px;
    }
    &__btn {
      margin-bottom: 15px;
    }
    &__name {
      margin-bottom: 15px;
    }
  }
}
@media (min-width: 530px) and (max-width: 735px) {
  .home-page-stream {
    &__block {
      flex-direction: column-reverse;
      align-items: center;
    }
    &__current-video {
      width: 480px;
      height: 320px;
      margin-left: 0px;
      margin-bottom: 20px;
    }
    &__heading {
    }
    &__card {
    }
    &__status-stream {
      top: 14px;
      width: 20px;
      height: 20px;
    }
  }
  .card-training {
    // display: flex;
    // flexrection: row;
    // justify-content: space-around;
    max-width: 100%;
    padding: 20px 20px 20px 20px;
    &__trainerblock {
      //   margin-bottom: 15px;
    }
    &__btn {
      margin-bottom: 15px;
    }
    &__name {
      margin-bottom: 15px;
    }
  }
}
@media (min-width: 320px) and (max-width: 529px) {
  .home-page-stream {
    &__block {
      flex-direction: column-reverse;
      align-items: center;
    }
    &__current-video {
      width: 280px;
      height: 220px;
      margin-left: 0px;
      margin-bottom: 20px;
    }
    &__heading {
      margin-left: 20px;
    }
    &__card {
    }
    &__status-stream {
      top: 14px;
      width: 20px;
      height: 20px;
    }
  }
  .card-training {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 240px;
    padding: 20px 20px 20px 20px;
    &__trainerblock {
    }
    &__btn {
      margin-bottom: 15px;
    }
    &__name {
      margin-bottom: 15px;
    }
  }
}
